---
layout: default
title: FF
---

<h1 class="title">
    <i class="bi bi-controller"></i>
    Final Fantasy
</h1>

{% assign games_amount = site.data.schema | size %}
{% assign achievement_count = -1 %}
{% for i in (0..games_amount) %}

    {% unless forloop.last %}
        {% assign player_game = site.data.player[i].playerstats %}
        {% assign game_achievements_schema = site.data.schema[i].game.availableGameStats.achievements %}
        
        {% assign player_game_achievements = site.data.player[i].playerstats.achievements %}

        {% assign my_array = "" | split: ',' %}

        {% for achievement in player_game_achievements %}
            {% if achievement.achieved == 1 %}
                {% assign my_array = my_array | push: achievement.name %}
            {% endif %}        
        {% endfor %}


        {% assign player_achievement_count = site.data.player[i].playerstats.achievements | size %}
        {% assign total_achievement_count = site.data.schema[i].game.availableGameStats.achievements | size %}

        {% assign achievement_percent = player_achievement_count | times: 100 | divided_by: total_achievement_count %}

        {% if site.data.name_map[player_game.gameName] %} 
            {% assign game_name = site.data.name_map[player_game.gameName] %}  
        {% else %} 
            {% assign game_name = player_game.gameName %} 
        {% endif %}

    
        {% for achievement in game_achievements_schema %}
            {% assign achievement_count = achievement_count | plus : 1 %}
            {% if my_array contains achievement.name %}
                <div class="ach"
                    style="width:50px;
                            height:50px;
                            background: linear-gradient(rgba(100, 210, 70, 0.5), rgba(116, 192, 130, 0.5)), url('{{site.baseurl}}/assets/img/{{ site.data.ff_map.ico_paths[i] }}'); 
                            background-repeat: no-repeat;
                            background-size: cover;
                            background-position: center;
                            display:inline-block;
                            margin:5px;"class="square"
                        title="{{achievement.displayName}}"
                        ></div>
            {% else %}
                <div class="ach"
                    style="width:50px;
                            height:50px;
                            background: linear-gradient(rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0.5)), url('{{site.baseurl}}/assets/img/{{ site.data.ff_map.ico_paths[i] }}'); 
                            background-repeat: no-repeat; 
                            background-size: cover;
                            background-position: center;
                            display:inline-block;
                            margin:5px;"class="square"
                        title="{{achievement.displayName}}"
                        ></div>
            {% endif %}

            <!-- The Modal -->
            <div id="ach-{{achievement_count}}" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                <span id="close-{{achievement_count}}">&times;</span>
                <h2>Modal Header</h2>
                </div>
                <div class="modal-body">
                <p>Some text in the Modal Body</p>
                <p>Some other text...</p>
                </div>
                <div class="modal-footer">
                <h3>Modal Footer</h3>
                </div>
            </div>

            </div>
            
        {% endfor %}
    {% endunless %}
{% endfor %}

<script>
    var achievements = document.getElementsByClassName('ach');
    for (let i = 0; i < achievements.length; i++) {
        achievements[i].onclick = function() {
            var modal = document.getElementById(`ach-${i}`);
            modal.style.display = "block";

            var close = document.getElementById(`close-${i}`);
            close.onclick = function() {
                modal.style.display = "none";
            }

            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        }
    }

    var playerData = {{ site.data.player | jsonify }};
    var schemaData = {{ site.data.schema | jsonify }};

  function getData() {
    console.log(playerData);
    console.log(schemaData);
  }

  getData();
</script>
