#hub-container {
  display: flex;
  flex-direction: column-reverse;
}

#percent {
  width: 100%;
}

#percent-container {
  text-align: center;
}

.card-header {
  text-align: center;
}

.clrs-incomplete {
  font-style: italic;
  color: grey;
}

.clrs-link {
  text-align: center;
}

.clrs-solution {
  padding-top: 0.5em;
}

.desmos-img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 50%;
}

.highlight {
  padding-left: 10px;
  padding-top: 5px;
}

.language-latex {
  color: #e83e8c;
}

.latex-img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.next {
  text-align: right;
}

.random-assignment {
  text-align: center;
}
