.card-header {
  text-align: center;
}

.navbar-nav {
  flex-direction: row;
}

.nav-item {
  padding: 0.5rem;
}

.nav-span {
  padding-left: 5px;
}

blockquote {
  border-left: 0.25em solid #dfe2e5;
  color: #6a737d;
  padding: 0 1em;
}

.clrs-solution {
  padding-top: 0.5em;
}

.next {
  text-align: right;
}

.footer-icon {
  padding-right: 9px;
}

.footer-item {
  text-decoration: none;
}

.title {
  text-align: center;
}

.randomAssignment {
  text-align: center;
}

main {
  padding-top: 60px;
  padding-bottom: 60px;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 999;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.highlight {
  padding-left: 10px;
  padding-top: 5px;
}

.clrs-incomplete {
  font-style: italic;
  color: grey;
}

.clrs-link {
  text-align: center;
}

.latex-img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.language-latex {
  color: #e83e8c;
}

.desmos-img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 50%;
}

#hub-container {
  display: flex;
  flex-direction: column-reverse;
}

#percent-container {
  text-align: center;
}

#percent {
  width: 100%;
}
