main {
  padding-top: 60px;
  padding-bottom: 60px;
}

#mountains {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 25%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.footer-icon {
  padding-right: 9px;
}

.footer-item {
  text-decoration: none;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 999;
}

.nav-item {
  padding: 0rem, 0.5rem;
}

.nav-link {
  padding-left: 8px;
  padding-right: 8px;
}

.nav-span {
  padding-left: 5px;
}

.navbar-nav {
  flex-direction: row;
}

.title {
  text-align: center;
}

//Home
